<?xml version="1.0"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <connectionStrings>
        <!--Example of connection string
        
        <add name="DefaultConnection"
             connectionString="Data Source=name-of-the-sqlserver;Initial Catalog=furniture_factory;Integrated Security=True;"
             providerName="System.Data.SqlClient"/>
             
        -->

        <add name="DefaultConnection"
             connectionString="Data Source=DESKTOP-2Q7FAP0\SQLEXPRESS;Initial Catalog=furniture_factory;Integrated Security=True"
             providerName="System.Data.SqlClient"/>

    </connectionStrings>
</configuration>

