<?xml version="1.0"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <connectionStrings>
        <add name="DefaultConnection"
             connectionString="Data Source=DEXP;Initial Catalog=furniture_factory;Integrated Security=True"
             providerName="System.Data.SqlClient"/>

        <!--
        <add name="DefaultConnection"
             connectionString="Data Source=DESKTOP-2Q7FAP0\SQLEXPRESS;Initial Catalog=furniture_factory;Integrated Security=False; User ID=user; Password=12345"
             providerName="System.Data.SqlClient"/>
        -->

    </connectionStrings>
</configuration>

